###
### userparm Config File
###

[APPLICATION]
PROCNAME=we_cmdserver 					# process name
MAXPSCNT=1 							# execute process max count

[LOG INFOMATION]
LOGLEVEL=1 							# log level (0~9)
ERRORLOG=1							# error log file create (0:NONE, 1:CREATE)
LOGFBASE=/logs/we_cmdserver

